
     <header id="mainheader">
        <img src="/images/logo.png">
        {{>nav}}
     </header>




        <div class="greeting">Hello {{user.user_name}} !</div>


    <!--Main-->
    <div id="streamsection">

    <!--Media Chosen-->
    <div id="mediachosen">
        <p id="mediatitle"><u>{{media.title}}</u></p>
         <img style="display:block;" src="{{media.image}}">
         <p class="rating"><u>Average User Rating</u>: {{media.average_rating}}</p>
    </div>
    <!--Streaming Links for Chosen Media-->
      <div id="linkscontainer">
          <p>Streaming Links:</p>
          <ul id="streamlist">
{{#each links as |link|}}
                <li><a href="{{link.link}}">{{link.link}}</a></li><br>
            
{{/each}}
</ul>
</div>
</div>
<div class="fixedstream">
<button id="fixedSbutton"><button class="button-s"><a href="#linkscontainer">Click on any link to stream your {{media.type}} now!</a></button></button>
</div>
<script src="/js/watchlist.js"></script>
