<div class="section">
        <div class="columns is-size-5">Hello&nbsp;<div>{{user.user_name}}</div>!
    </div>

    <!--Main-->
    <div class="section">

    <!--My List-->
    <div>
        My Media: 
    </div>

      <div id="mediacontainer">
{{#each medias as |media|}}
        <div>
            <p id="title">{{media.title}}</p>
            <p id="type">{{media.type}}</p>
                <img src="{{media.image}}">
                <p class="rating">Average User Rating: {{media.average_rating}}</p>
                {{#if media.medialist.review}}
                <p id="yourreview">Your Review: {{media.medialist.review}}</p>
                <button id="deletereview">Delete Review</button>
                <button id="editreview">Edit Review</button>
                <form id="editreviewform" style="display:none">
                <label>Your review of {{media.title}}:</label><br>
                <input type="text" id="editreview"><br>
                <button id="editreviewsubmit">Submit Review</button>
                </form>
                {{else}}
                {{>reviewForm}}
                {{/if}}
                <button data-id={{media.id}} data-type="{{media.type}}" class="infobutton">Get Streaming Options</button>
                <button data-id={{media.id}} class= "deletebutton">Delete</button>
        </div>
{{/each}}
</div>
<a href="/"><button>Go Back</button></a>
<script src="/js/watchlist.js"></script>
