 <header id="watchheader">
        <img src="/images/logotext.png">
    </header>



<section id="mainbox">
<aside id="watchaside">
        {{#if logged_in}}
        <!-- Only display the user watchlist and logout buttons in the nav bar if the user is logged in -->
        <nav class="watchnav">
            <ul class="menuItems">
                <li><a href="/" data-item='Home'>Home</a></li>
                <li><a href="/api/mylist" data-item='My Watchlist'>My Watchlist</a></li>
                <li><a href="/search" data-item='Search'>Search</a></li>
                <li><a href='#' id="logout" data-item='Logout'>Logout</a></li>
            </ul>
        </nav>

        {{else}}
        <nav class="watchnav">
            <ul class="menuItems">
                <li><a href="/login" data-item='Login'>Login</a></li>
                <li><a href="/signup" data-item='Signup'>Signup</a></li>
            </ul>
        </nav>
        {{/if}}
    </aside>



<div id="watchlist">
<div id="greeting">
    Hello {{user.user_name}}!
</div>
<div id="mediacontainer">
    {{#each medias as |media|}}
    <div class="eachmedia">
        <div class="mediainfobox">
        <div class="mediabasic">
        <p id="title">{{media.title}}</p>
        <p id="type" style="display:none">{{media.type}}</p>
        <img src="{{media.image}}">
        </div>
        <div class="getmediainfo">
        <button data-id={{media.id}} data-type="{{media.type}}" class="infobutton">Get Streaming Options</button><br><br>
        <button data-id={{media.id}} class="deletebutton">Delete from Watchlist</button>
        </div>
        </div>
     <div class="reviewbox">
            <p class="rating">Average User Rating: {{media.average_rating}}</p>
            {{#if media.medialist.review}}
            <p id="your_review">Your Review: {{media.medialist.review}}</p>
            <button data-id={{media.id}} class="deletereview">Delete Review</button>
            <button data-id={{media.id}} class="editreview">Edit Review</button>
            <form class="editform" data-id={{media.id}} style="display:none">
                <label>Your review of {{media.title}}:</label><br>
                <input type="text" data-id={{media.id}} class="editinput"><br>
                <button data-id={{media.id}} class="editsubmit">Submit Review</button>
            </form>
            {{else}}
            {{>reviewForm this}}
            {{/if}}
</div>
</div>
{{/each}}
</div>
</div>
</section>
<script src="/js/watchlist.js"></script>


