<div class="section">
        <div class="columns is-size-5">Hello&nbsp;<div>{{user.user_name}}</div>!
    </div>

    <!--Main-->
    <div class="section">

    <!--My List-->
    <div>
        My Media: 
    </div>

      <div>
{{#each medias as |media|}}
        <div>
            <p id="title">{{media.title}}</p>
            <p id="type">{{media.type}}</p>
                <img src="{{media.image}}">
                <p class="rating">{{media.average_rating}}</p>
                <a href="/"><button data-id="{{media.id}}" class="detailbutton">Get Details</button></a>
                <button data-id="{{media.id}}" class="deletebutton">Delete</button>
        </div>
{{/each}}
</div>
<a href="/"><button>Go Back</button></a>
<script src="/js/watchlist.js"></script>
